# Assignment on Store_sales dataset

**Load the Dataset**

In [6]:
import pandas as pd

df= pd.read_csv('store_sales.csv')
print(df.head())

  store_id        city  Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  \
0      S_1       Texas    8   20   13   21   17   20    24   17   16    9
1      S_2  California   12   19   15   15   11   19     7   15   10   11
2      S_3  California   16   16   14   19   23    6    13   13   15   14
3      S_4       Texas    8   18   13   10   14   14     6    8    8   18
4      S_5       Texas   19    5   24    9    5   24    10    5   24   15

   Nov  Dec
0    7    6
1   21   19
2   24    8
3    7   11
4    6   13

**Calculate the total sales for each store across all months.**

In [10]:
df['total_sales'] = df.loc[:, 'Jan':'Dec'].sum(axis=1)


print(df[['store_id', 'total_sales']])

   store_id  total_sales
0       S_1          178
1       S_2          174
2       S_3          181
3       S_4          135
4       S_5          159
..      ...          ...
95     S_96          185
96     S_97          154
97     S_98          168
98     S_99          173
99    S_100          180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [13]:
average_sales = df.loc[:, 'Jan':'Dec'].mean()
print(average_sales)

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

**Identify the store with the highest total sales.**

In [14]:

df['total_sales'] = df.loc[:, 'Jan':'Dec'].sum(axis=1)
highest_sales = df.sort_values(by='total_sales', ascending=False).head(1)
print(highest_sales[['store_id', 'city', 'total_sales']])

   store_id        city  total_sales
85     S_86  California          214

**Calculate the total sales for each city.**

In [17]:
city_total_sales = df.groupby('city')['total_sales'].sum()
print(city_total_sales)

city
Arizona       3951
California    7522
Texas         5939
Name: total_sales, dtype: int64

**List stores with total sales greater than 200**

In [18]:
high_sales = df[df['total_sales'] > 200]
print(high_sales[['store_id', 'city', 'total_sales']])

   store_id        city  total_sales
37     S_38  California          207
39     S_40       Texas          204
50     S_51     Arizona          210
61     S_62  California          214
69     S_70       Texas          206
72     S_73  California          213
77     S_78     Arizona          211
85     S_86  California          214
86     S_87       Texas          203
92     S_93  California          204

**Which month had the highest average sales across all stores?**

In [21]:
highest_avg = average_sales[average_sales == average_sales.max()].index[0]
print(highest_avg)

Aug

**Which city generated the most revenue?**

In [22]:
highest_sales_city = city_total_sales[city_total_sales == city_total_sales.max()].index[0]
print(highest_sales_city)

California